@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: url("/assets/images/pexels-felipe-hueb-2747893.jpg"), no-repeat, fixed, center center / cover; 
    font-family: 'Amatic SC', cursive;
}

h1 {
    text-align: center;
    color: red;
}

div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

script {
    flex: 1;
    display: flex;
    flex-direction: column;
}